# Mission 1

### Mission 1-1 (Read Image files)

In [41]:
import pandas as pd

def read_file_names(path, ext):
    import glob
    # Get list of all jpg files in the specified directory
    files = glob.glob(path + '/*.' + ext)

    file_names = [file.split('/')[-1].split('.')[0] for file in files]
    return file_names

- Read Training Images

In [37]:
training_file_names = read_file_names('./data/training_image', 'jpg')


pd.set_option('display.max_columns', None)
# pd.reset_option('display.max_columns')

# Create a DataFrame from the list of file names
df_training_image = pd.DataFrame(training_file_names, columns=['file_name'])
display(df_training_image.head())

### Create new columns
df_training_image['gender'] =  df_training_image['file_name'].apply(lambda x: x.split('_')[-1])
df_training_image['style'] =  df_training_image['file_name'].apply(lambda x: x.split('_')[-2])
df_training_image['ID'] =  df_training_image['file_name'].apply(lambda x: x.split('_')[1])

df_training_image.drop(columns=['file_name'], inplace=True)
display(df_training_image.head())

### Groupby gender and style
# df_training_image.groupby('gender').groupby('style').count()
# style_stats = df_training_image.groupby('gender')['style'].value_counts().unstack().fillna(0)
style_stats = df_training_image.groupby('gender')['style'].value_counts()
# display(style_stats.info())
display(style_stats.head())

df_training_image.shape

                     file_name
0     W_01752_00_metrosexual_M
1        W_46417_70_military_W
2     W_01509_00_metrosexual_M
3        W_18951_50_feminine_W
4  W_29485_10_sportivecasual_M

  gender           style     ID
0      M     metrosexual  01752
1      W        military  46417
2      M     metrosexual  01509
3      W        feminine  18951
4      M  sportivecasual  29485

gender  style
M       normcore          364
        sportivecasual    298
        metrosexual       278
        hiphop            274
        mods              269
Name: count, dtype: int64

(4070, 3)

- Read Validation Images

In [38]:
validation_file_names = read_file_names('./data/validation_image', 'jpg')


pd.set_option('display.max_columns', None)
# pd.reset_option('display.max_columns')

# Create a DataFrame from the list of file names
df_validation_image = pd.DataFrame(validation_file_names, columns=['file_name'])
display(df_validation_image.head())

### Create new columns
df_validation_image['gender'] =  df_validation_image['file_name'].apply(lambda x: x.split('_')[-1])
df_validation_image['style'] =  df_validation_image['file_name'].apply(lambda x: x.split('_')[-2])
df_validation_image['ID'] =  df_validation_image['file_name'].apply(lambda x: x.split('_')[1])

df_validation_image.drop(columns=['file_name'], inplace=True)
display(df_validation_image.head())

### Groupby gender and style
# df_validation_image.groupby('gender').groupby('style').count()
# style_stats = df_validation_image.groupby('gender')['style'].value_counts().unstack().fillna(0)
style_stats = df_validation_image.groupby('gender')['style'].value_counts()
# display(style_stats.info())
display(style_stats.head())

df_validation_image.shape

                     file_name
0  W_14468_10_sportivecasual_W
1        W_17239_19_normcore_M
2     W_06895_00_metrosexual_M
3        W_13354_50_feminine_W
4        W_07018_19_normcore_M

  gender           style     ID
0      W  sportivecasual  14468
1      M        normcore  17239
2      M     metrosexual  06895
3      W        feminine  13354
4      M        normcore  07018

gender  style
M       hippie         82
        mods           80
        ivy            79
        hiphop         66
        metrosexual    58
Name: count, dtype: int64

(951, 3)

# Mission 2

### Mission 2-1 (Read Json files)

- Read Training Jsons

In [39]:
training_json_names = read_file_names('./data/training_label', 'json')
len(training_json_names)
df_training_json = pd.DataFrame(training_json_names, columns=['file_name'])
# display(df_training_json)

### Create new columns
df_training_json['gender'] =  df_training_json['file_name'].apply(lambda x: x.split('_')[-2])
df_training_json['style'] =  df_training_json['file_name'].apply(lambda x: x.split('_')[-3])
df_training_json['ID'] =  df_training_json['file_name'].apply(lambda x: x.split('_')[1])


# df_training_json.info()
display(df_training_json.shape)

### Drop rows not in df_image's ID

df_training_json = df_training_json[df_training_json['ID'].isin(df_training_image['ID'])]

### Drop file_name column
df_training_json.drop(columns=['file_name', 'ID'], inplace=True)

display(df_training_json.shape)

# display(df_training_json.head())

gender_style_stats = df_training_json.groupby('gender')['style'].value_counts().to_frame()
gender_style_stats.head()

(211346, 4)

(20304, 2)

                       count
gender style
M      ivy              1719
       sportivecasual   1657
       mods             1616
       hippie           1571
       hiphop           1321

- Read Validation Jsons

In [40]:
validation_json_names = read_file_names('./data/validation_label', 'json')
len(validation_json_names)
df_validation_json = pd.DataFrame(validation_json_names, columns=['file_name'])
# display(df_validation_json)

### Create new columns
df_validation_json['gender'] =  df_validation_json['file_name'].apply(lambda x: x.split('_')[-2])
df_validation_json['style'] =  df_validation_json['file_name'].apply(lambda x: x.split('_')[-3])
df_validation_json['ID'] =  df_validation_json['file_name'].apply(lambda x: x.split('_')[1])


# df_validation_json.info()
display(df_validation_json.shape)

### Drop rows not in df_image's ID

df_validation_json = df_validation_json[df_validation_json['ID'].isin(df_validation_image['ID'])]

### Drop file_name column
df_validation_json.drop(columns=['file_name', 'ID'], inplace=True)

display(df_validation_json.shape)

# display(df_validation_json.head())

gender_style_stats = df_validation_json.groupby('gender')['style'].value_counts().to_frame()
gender_style_stats.head()

(36383, 4)

(4263, 2)

                    count
gender style
M      ivy            537
       hippie         474
       mods           439
       hiphop         259
       metrosexual    224