# 1-1 패션 스타일 이미지 분류
주어진 이미지 데이터의 파일 명은 아래와 같은 형식이다. “{W/T}_{이미지ID}_{시대별}_{스타일별}_{성별}.jpg”이에 기반하여 “이미지ID” 수기준으로“성별 & 스타일”통계치를아래표형식으로기입한다

In [1]:
import os
import sys

def get_file_list(path):
    file_list = []
    for root, dirs, files in os.walk(path):
        for file in files:
            file_list.append(file)
    return file_list

training_image_list = get_file_list('data/training_image')
print(len(training_image_list))
rembg_image_list = get_file_list('data/training_image_rembg')
print(len(training_image_list))

4070
4070

In [13]:
#get filename list from data folder

import os
import sys

def get_file_list(path):
    file_list = []
    for root, dirs, files in os.walk(path):
        for file in files:
            file_list.append(file)
    return file_list

training_image_list = get_file_list('data/training_image')

validation_image_list = get_file_list('data/validation_image')

#{W/T}_{이미지ID}_{시대별}_{스타일별}_{성별}.jpg in list to dataframe
def get_image_info(file_list):
    image_info = []
    for file in file_list:
        #remove .jpg filter
        file = file.replace('.jpg', '')
        image_info.append(file.split('_'))
    return image_info

training_image_info = get_image_info(training_image_list)
validation_image_info = get_image_info(validation_image_list)

#to dataframe
import pandas as pd

training_df = pd.DataFrame(training_image_info, columns=['WT', 'ID', '시대', '스타일', '성별'])
validation_df = pd.DataFrame(validation_image_info, columns=['WT', 'ID', '시대', '스타일', '성별'])

display(training_df, validation_df)

# group by 성별, 스타일 count
training_grouped = training_df.groupby('성별')['스타일'].value_counts().to_frame(name='이미지 수')
validation_grouped = validation_df.groupby('성별')['스타일'].value_counts().to_frame(name='이미지 수')

display(training_grouped, validation_grouped)

     WT     ID  시대             스타일 성별
0     W  01752  00     metrosexual  M
1     W  46417  70        military  W
2     W  01509  00     metrosexual  M
3     W  18951  50        feminine  W
4     W  29485  10  sportivecasual  M
...  ..    ...  ..             ... ..
4065  W  03060  50        feminine  W
4066  W  00032  10  sportivecasual  M
4067  W  02918  10  sportivecasual  M
4068  W  08957  19        normcore  W
4069  W  00465  50         classic  W

[4070 rows x 5 columns]

    WT     ID  시대             스타일 성별
0    W  14468  10  sportivecasual  W
1    W  17239  19        normcore  M
2    W  06895  00     metrosexual  M
3    W  13354  50        feminine  W
4    W  07018  19        normcore  M
..  ..    ...  ..             ... ..
946  T  21988  70          hippie  M
947  W  28022  50             ivy  M
948  W  00551  19        normcore  M
949  W  03144  50         classic  W
950  W  28453  10  sportivecasual  M

[951 rows x 5 columns]

                   이미지 수
성별 스타일
M  normcore          364
   sportivecasual    298
   metrosexual       278
   hiphop            274
   mods              269
   bold              268
   hippie            260
   ivy               237
W  sportivecasual    157
   feminine          154
   normcore          153
   minimal           139
   powersuit         120
   bodyconscious      95
   hippie             91
   kitsch             91
   oriental           78
   classic            77
   genderless         77
   athleisure         67
   cityglam           67
   punk               65
   ecology            64
   lingerie           55
   hiphop             48
   lounge             45
   popart             41
   disco              37
   space              37
   military           33
   grunge             31

                   이미지 수
성별 스타일
M  hippie             82
   mods               80
   ivy                79
   hiphop             66
   metrosexual        58
   bold               57
   sportivecasual     52
   normcore           51
W  sportivecasual     48
   feminine           44
   minimal            35
   powersuit          34
   bodyconscious      23
   classic            22
   kitsch             22
   normcore           20
   cityglam           18
   oriental           18
   ecology            17
   space              15
   athleisure         14
   hippie             14
   genderless         12
   punk               12
   disco              10
   grunge             10
   military            9
   hiphop              8
   lounge              8
   popart              8
   lingerie            5

# 2-1 패션 스타일 선호 여부 예측

주어진 라벨링 데이터의 파일 명은 아래와 같은 형식이다. “{W/T}_{이미지ID}_{시대별}_{스타일별}_{성별}_{설문ID}.json”이에 기반하여 “설문ID” 수 기준으로 “성별 & 스타일” 통계치를 아래 표 형식으로 기입한다.